---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
---

<style>
	h1 {
	  font-family: 'FunnelDisplay', sans-serif;
	}
</style>

<Layout>
	<main class="min-h-screen max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center">
		<div class="flex flex-col lg:flex-row justify-between items-start gap-12 w-full">
			<!-- Logo and Subtitle Section -->
			<div class="flex flex-col gap-5 lg:my-auto">
					<h1 class="text-[#f8f5f5] text-5xl sm:text-6xl lg:text-8xl font-medium font-['Funnel Display'] tracking-wide">
						codestube;
					</h1>
					<p class="text-white text-xl sm:text-2xl font-medium font-['Outfit'] tracking-tight">
						In Entwicklung
					</p>
			</div>

			<!-- Contact Form Section -->
			<ContactForm />
		</div>
	</main>
</Layout>